<template>
  <b-container fluid class="p-0">
    <b-navbar class="top-navbar" type="dark" variant="dark">
      <b-container>
        <b-navbar-nav class="navbar-left-item">
          <b-nav-item href="#" class="top-navbar-title">APPETISER APPS</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="navbar-right-item" right>
          <b-nav-item href="#" @click="logout">LOGOUT</b-nav-item>
        </b-navbar-nav>
      </b-container>
    </b-navbar>

    <b-container class="slot-container pt-5 pb-5 p-0">
      <slot />
    </b-container>
  </b-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  methods: {
    ...mapActions({
      logout: 'auth/logout'
    })
  }
}
</script>

<style lang="scss" scoped>
.navbar-expand .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}
@media (max-width: 576px) {
  .slot-container {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
</style>
