/* ==========================================================================
  fade-in-down
========================================================================== */
@keyframes fadeInDown {
  from {
    transform: translate3d(0, -40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.fade-in-down-leave-to {
  opacity: 0;
  transition: opacity .3s;
}
.fade-in-down-enter {
  opacity: 0;
  transform: translate3d(0, -40px, 0);
}
.fade-in-down-enter-to {
  opacity: 0;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInDown;
}

/* ==========================================================================
  fade-in-left
========================================================================== */
@keyframes fadeInLeft {
  from {
    transform: translate3d(-40px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.fade-in-left-leave-to {
  opacity: 0;
  transition: opacity .3s;
}
.fade-in-left-enter {
  opacity: 0;
  transform: translate3d(-40px, 0, 0);
}
.fade-in-left-enter-to {
  opacity: 0;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInLeft;
}

/* ==========================================================================
  fade-in-right
========================================================================== */
@keyframes fadeInRight {
  from {
    transform: translate3d(40px, 0, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.fade-in-right-leave-to {
  opacity: 0;
  transition: opacity .3s;
}
.fade-in-right-enter {
  opacity: 0;
  transform: translate3d(40px, 0, 0);
}
.fade-in-right-enter-to {
  opacity: 0;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
}

/* ==========================================================================
  fade-in-up
========================================================================== */
@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
.fade-in-up-leave-to {
  opacity: 0;
  transition: opacity .3s;
}
.fade-in-up-enter {
  opacity: 0;
  transform: translate3d(0, 40px, 0);
}
.fade-in-up-enter-to {
  opacity: 0;
  animation-duration: .7s;
  animation-fill-mode: both;
  animation-name: fadeInUp;
}

/* ==========================================================================
  fade
========================================================================== */
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0
}

/* ==========================================================================
  slide-fade
========================================================================== */
.slide-fade-enter-active {
  transition: all .5s ease;
}
.slide-fade-leave-active {
  display: none;
}
.slide-fade-enter {
  transform: translateX(50px);
}
.slide-fade-leave-to {
  opacity: 0;
}