/* ==========================================================================
  flip-x
========================================================================== */
.flip-x-enter-active,
.flip-x-leave-active {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.flip-x-enter,
.flip-x-leave-to {
  transform: rotateX(-180deg);
  opacity: 0;
}

/* ==========================================================================
  flip-y
========================================================================== */
.flip-y-enter-active,
.flip-y-leave-active {
  transition-duration: 0.3s;
  transition-property: all;
  transition-timing-function: ease;
}
.flip-y-enter,
.flip-y-leave-to {
  transform: rotateY(-180deg);
  opacity: 0;
}