/* ==========================================================================
  overlay-down-full
========================================================================== */
.overlay-down-full-enter ~ .overlay-top {
  height: 100vh;
}
.overlay-down-full-enter-to ~ .overlay-bottom {
  height: 0;
}
.overlay-down-full-enter-active ~ .overlay-top,
.overlay-down-full-leave-active ~ .overlay-top {
  height: 100vh;
}
.overlay-down-full-enter-active ~ .overlay-top {
  transition-timing-function: ease-in;
}
.overlay-down-full-leave-active ~ .overlay-bottom {
  transition-timing-function: ease;
}
.overlay-down-full-enter-active,
.overlay-down-full-leave-active {
  transition-duration: var(--transition-duration);
}
.overlay-down-full-enter-active ~ .overlay-top,
.overlay-down-full-enter-to ~ .overlay-top {
  display: none;
}
.overlay-down-full-enter ~ .overlay-bottom,
.overlay-down-full-enter-active ~ .overlay-bottom,
.overlay-down-full-enter-to ~ .overlay-bottom {
  transition-duration: unset !important;
  height: 100vh;
}

/* ==========================================================================
  overlay-down
========================================================================== */
.overlay-top {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background: var(--overlay-bg);
  transition-duration: var(--transition-duration);
}
.overlay-down-enter ~ .overlay-top,
.overlay-down-leave-to ~ .overlay-top {
  height: 0;
}
.overlay-down-enter-active ~ .overlay-top,
.overlay-down-leave-active ~ .overlay-top {
  height: 100vh;
}
.overlay-down-enter-active ~ .overlay-top {
  transition-timing-function: ease-in;
}
.overlay-down-leave-active ~ .overlay-top {
  transition-timing-function: ease-out;
}
.overlay-down-enter-active,
.overlay-down-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-left-full
========================================================================== */
.overlay-left-full-enter ~ .overlay-right {
  width: 100vw;
}
.overlay-left-full-enter-active ~ .overlay-right,
.overlay-left-full-leave-active ~ .overlay-right {
  width: 100vw;
}
.overlay-left-full-enter-active ~ .overlay-right {
  transition-timing-function: ease-in;
}
.overlay-left-full-enter-active ~ .overlay-right,
.overlay-left-full-enter-to ~ .overlay-right {
  display: none;
}
.overlay-left-full-enter-to ~ .overlay-left {
  width: 0;
}
.overlay-left-full-leave-active ~ .overlay-left {
  transition-timing-function: ease;
}
.overlay-left-full-enter ~ .overlay-left,
.overlay-left-full-enter-active ~ .overlay-left,
.overlay-left-full-enter-to ~ .overlay-left {
  transition-duration: unset !important;
  width: 100vw;
}
.overlay-left-full-enter-active,
.overlay-left-full-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-left-right
========================================================================== */
.overlay-left-right-enter ~ .overlay-left,
.overlay-left-right-enter ~ .overlay-right {
  width: 0;
}
.overlay-left-right-leave-active ~ .overlay-left,
.overlay-left-right-leave-to ~ .overlay-left,
.overlay-left-right-leave-to ~ .overlay-right,
.overlay-left-right-leave-to ~ .overlay-right {
  width: 51vw;
}
.overlay-left-right-enter-active ~ .overlay-left,
.overlay-left-right-enter-active ~ .overlay-right {
  transition-timing-function: ease;
}
.overlay-left-right-leave-active ~ .overlay-left,
.overlay-left-right-leave-active ~ .overlay-right {
  transition-timing-function: ease;
}
.overlay-left-right-enter-active,
.overlay-left-right-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-left
========================================================================== */
.overlay-left {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  background: var(--overlay-bg);
  transition-duration: .35s;
}
.overlay-left-enter ~ .overlay-left,
.overlay-left-leave-to ~ .overlay-left {
  width: 0;
}
.overlay-left-enter-active ~ .overlay-left,
.overlay-left-leave-active ~ .overlay-left {
  width: 100vw;
}
.overlay-left-enter-active ~ .overlay-left {
  transition-timing-function: ease-in;
}
.overlay-left-leave-active ~ .overlay-left {
  transition-timing-function: ease-out;
}
.overlay-left-enter-active,
.overlay-left-leave-active {
  transition-duration: .35s;
}

/* ==========================================================================
  overlay-right-full
========================================================================== */
.overlay-right-full-enter ~ .overlay-left {
  width: 100vw;
}
.overlay-right-full-enter-active ~ .overlay-left,
.overlay-right-full-leave-active ~ .overlay-left {
  width: 100vw;
}
.overlay-right-full-enter-active ~ .overlay-left {
  transition-timing-function: ease-in;
}
.overlay-right-full-enter-active ~ .overlay-left,
.overlay-right-full-enter-to ~ .overlay-left {
  display: none;
}
.overlay-right-full-enter-to ~ .overlay-right {
  width: 0;
}
.overlay-right-full-leave-active ~ .overlay-right {
  transition-timing-function: ease;
}
.overlay-right-full-enter ~ .overlay-right,
.overlay-right-full-enter-active ~ .overlay-right,
.overlay-right-full-enter-to ~ .overlay-right {
  transition-duration: unset !important;
  width: 100vw;
}
.overlay-right-full-enter-active,
.overlay-right-full-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-right
========================================================================== */
.overlay-right {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 0;
  background: var(--overlay-bg);
  transition-duration: var(--transition-duration);
}
.overlay-right-enter ~ .overlay-right,
.overlay-right-leave-to ~ .overlay-right {
  width: 0;
}
.overlay-right-enter-active ~ .overlay-right,
.overlay-right-leave-active ~ .overlay-right {
  width: 100vw;
}
.overlay-right-enter-active ~ .overlay-right {
  transition-timing-function: ease-in;
}
.overlay-right-leave-active ~ .overlay-right {
  transition-timing-function: ease-out;
}
.overlay-right-enter-active,
.overlay-right-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-up-down
========================================================================== */
.overlay-up-down-enter ~ .overlay-bottom,
.overlay-up-down-enter ~ .overlay-top {
  height: 0;
}
.overlay-up-down-leave-active ~ .overlay-bottom,
.overlay-up-down-leave-to ~ .overlay-bottom,
.overlay-up-down-leave-to ~ .overlay-top,
.overlay-up-down-leave-to ~ .overlay-top {
  height: 51vh;
}
.overlay-up-down-enter-active ~ .overlay-bottom,
.overlay-up-down-enter-active ~ .overlay-top {
  transition-timing-function: ease;
}
.overlay-up-down-leave-active ~ .overlay-bottom,
.overlay-up-down-leave-active ~ .overlay-top {
  transition-timing-function: ease;
}
.overlay-up-down-enter-active,
.overlay-up-down-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-up-full
========================================================================== */
.overlay-up-full-enter ~ .overlay-bottom {
  height: 100vh;
}
.overlay-up-full-enter-active ~ .overlay-bottom,
.overlay-up-full-leave-active ~ .overlay-bottom {
  height: 100vh;
}
.overlay-up-full-enter-active ~ .overlay-bottom {
  transition-timing-function: ease-in;
}
.overlay-up-full-enter-active ~ .overlay-bottom,
.overlay-up-full-enter-to ~ .overlay-bottom {
  display: none;
}
.overlay-up-full-enter-to ~ .overlay-top {
  height: 0;
}
.overlay-up-full-leave-active ~ .overlay-top {
  transition-timing-function: ease;
}
.overlay-up-full-enter ~ .overlay-top,
.overlay-up-full-enter-active ~ .overlay-top,
.overlay-up-full-enter-to ~ .overlay-top {
  transition-duration: unset !important;
  height: 100vh;
}
.overlay-up-full-enter-active,
.overlay-up-full-leave-active {
  transition-duration: var(--transition-duration);
}

/* ==========================================================================
  overlay-up
========================================================================== */
.overlay-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100vw;
  background: var(--overlay-bg);
  transition-duration: var(--transition-duration);
}
.overlay-up-enter ~ .overlay-bottom,
.overlay-up-leave-to ~ .overlay-bottom {
  height: 0;
}
.overlay-up-enter-active ~ .overlay-bottom,
.overlay-up-leave-active ~ .overlay-bottom {
  height: 100vh;
}
.overlay-up-enter-active ~ .overlay-bottom {
  transition-timing-function: ease-in;
}
.overlay-up-leave-active ~ .overlay-bottom {
  transition-timing-function: ease-out;
}
.overlay-up-enter-active,
.overlay-up-leave-active {
  transition-duration: var(--transition-duration);
}