<template>
  <div class="ta-left" v-if="user">
    Welcome {{ user.first_name }}!
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({
      user: state => state.auth.user
    })
  },

  methods: {
    ...mapActions({
      getAuthenticatedUser: 'auth/getAuthenticatedUser'
    })
  },

  created () {
    if (this.user) {
      this.getAuthenticatedUser()
    }
  }
}
</script>
