/* ==========================================================================
  Form Style
========================================================================== */

form {
  margin-top: 20px;
}
/* container */
.form-container {
  background: white;
  border: 1px solid #ced4da;
  border-radius: 8px;
  padding: 50px;
}

/* input field */
.form-control {
  border: none;
  border-bottom: 1px solid $input-label;
  border-radius: 0;
  padding: 0;
  color: $input-label;
  transition: 0.4s;

  &::placeholder {
    color: $input-label;
  }
  &:focus,
  &:active {
    outline: none !important;
    border-bottom: 1px solid $input-label;
    border-bottom: 2px solid $brand;
    box-shadow: none;
    background-color: transparent;

    &::placeholder {
      opacity: 0.6;
    }
  }
  &:disabled {
    background-color: unset;
  }
}

.form-control.bordered {
  border: 1px solid $input-label;
  padding: 10px 15px;
  color: $input-label;
  transition: 0.4s;
  height: 45px;

  &::placeholder {
    color: $input-label;
  }
  &:focus,
  &:active {
    outline: none !important;
    box-shadow: none;
    background-color: transparent;
    transition: 0.4s;

    &::placeholder {
      opacity: 0.6;
    }
  }
  &:disabled {
    background-color: unset;
  }
}

.form-control.bordered-curve {
  border: 1px solid $input-label;
  border-radius: 4px;
  padding: 10px 15px;
  color: $input-label;
  transition: 0.4s;
  height: 45px;

  &::placeholder {
    color: $input-label;
  }
  &:focus,
  &:active {
    outline: none !important;
    border: 2px solid $brand;
    box-shadow: none;
    background-color: transparent;
    transition: 0.4s;

    &::placeholder {
      opacity: 0.6;
    }
  }
  &:disabled {
    background-color: unset;
  }
}

/* input label */
.label-default {
  margin-bottom: -2px;
  font-size: 12px;
  color: $input-label;
}

/* input label when focus */
.label-focus {
  margin-bottom: -2px;
  font-size: 12px;
  color: $brand;
}

/* when input is focused, change label style */
.label-focus {
  color: $brand;
}

/* input autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

/* form submit button */
.form-button {
  border: none;
  box-shadow: 0px 2px 4px #0000001F;
  border-radius: 8px;
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.48px;
  color: #FFF;
  min-width: 182px;
  height: 50px;
  transition: border-color 0.33s ease-in-out, box-shadow 0.33s ease-in-out;

  &:hover {
    background: $brand-2 !important;
    border-color: $brand !important;
  }
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  &:disabled:hover {
    background: $brand-light;
  }
}

/* form links */
.form-link-cont {
  margin-top: -10px;
}
.form-link,
.form-link:hover {
  font-weight: 600;
}
.form-back,
.form-back:hover {
  font-size: 18px;
  text-decoration: none;
}

/* input error label */
.input-error {
  font-size: 12px;
  color: $input-error;
  font-style: italic;
}

/* display of API error message */
.form-message {
  font-size: 14px;
  color: $input-error;
  font-style: italic;
}