@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-vue/src/index.scss";

/* ==========================================================================
  Transitions
  https://madewithvuejs.com/vue-page-transition
  https://vuejs.org/v2/guide/transitions.html

  1. fade
  2. flip
  3. overlay
  4. zoom
  5. bounce
========================================================================== */
@import "transitions/fade";


/* ==========================================================================
  Fonts
  https://fonts.google.com/
========================================================================== */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


/* ==========================================================================
  Builds our style structure
  https://sass-guidelin.es/#the-7-1-pattern
    
  Table of Contents:
    1. Abstract
    2. Base
    3. Components
    4. Layouts
    5. Pages
    6. Themes
    7. Vendor
========================================================================== */
@import "abstract/variables";
@import "base/animations";
@import "base/typography";
@import "layouts/forms";

// body {
//   background-color: aliceblue;
// }
.ta-left {
  text-align: left;
}
.ta-right {
  text-align: right;
}
.ta-center {
  text-align: center;
}
.full-width {
  width: 100%;
}
.c-pointer {
  cursor: pointer;
}
.display-equal {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
a {
  color: $brand;

  &:hover {
    color: $brand-2;
  }
}
.btn-primary {
  background-color: $brand;
}