<template>
  <div>
    <b-container class="form-container ta-left">
      <div class="display-equal">
        <div class="ta-left">
          <router-link class="form-back" :to="{ name: 'auth.login-page' }">←</router-link>
        </div>
      </div>

      <h5 class="font-weight-bold ta-left mt-4 mb-3">Send Reset Code</h5>
      <div class="mb-4">Enter your email address to receive an email with a code to reset your password:</div>

      <b-form @submit="onSubmit">
        <b-form-group id="input-group-1" class="col-12">
          <b-form-input
            id="input-1"
            v-model="form.email"
            class="effect-26"
            :class="form.email ? 'has-content' : ''"
            type="email"
            required
            autofocus
            placeholder="Enter email address"
          ></b-form-input>
          <label>Email Address</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('email')">
            {{ form.$getError('email')[0] }}
          </div>
        </b-form-group>

        <!-- API Error Message -->
        <div class="form-message mb-4" v-show="form.$errorMessage">
          {{ form.$errorMessage }}
        </div>

        <div class="ta-right mt-4">
          <b-button class="form-button" type="submit" variant="primary">
            <b-spinner small class="mr-3" v-if="form.$busy"></b-spinner>
            <div v-else>SEND</div>
          </b-button>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import Form from '@/utils/form'

export default {
  data () {
    return {
      form: new Form({
        email: ''
      })
    }
  },

  methods: {
    async onSubmit (evt) {
      evt.preventDefault()

      this.form.$busy = true
      await this.$api.post('auth/forgot-password', this.form.$data())
        .then(({ data }) => {
          this.form.$busy = false
          this.$router.replace({
            name: 'auth.reset-password-page',
            params: {
              email: this.form.$data().email
            }
          })
        })
        .catch(error => {
          this.form.$handleError(error)
        })
    }
  },

  watch: {
    'form.email' () {
      this.form.$clearError('email')
    }
  }
}
</script>
