<template>
  <div class="center-screen">
    <!-- <transition name="slide-fade"> -->
    <div class="template-container">
      <router-view/>
    </div>
    <!-- </transition> -->
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  computed: {
    ...mapState({
      isAuthenticated: state => state.auth.isAuthenticated
    })
  },

  methods: {
    ...mapActions({
      getAuthenticatedUser: 'auth/getAuthenticatedUser'
    })
  },

  created () {
    if (this.isAuthenticated) {
      if (this.$route.name === 'auth.login-page' || this.$route.name === 'auth.register-page' ||
        this.$route.name === 'auth.forgot-password-page' || this.$route.name === 'auth.reset-password-page') {
        this.getAuthenticatedUser().then(res => {
          this.$router.replace({ name: 'user.profile-page' })
        })
      }
    } else {
    }
  }
}
</script>

<style lang="scss" scoped>
.template-container {
  width: 500px;
}
@media (max-width: 576px) {
  .template-container {
    width: 100%;
  }
}
</style>
