<template>
  <div>
    <div><img src="/img/logo.png" width="100" height="100"/></div>
    <h3 class="mt-4 mb-4">Appetiser Apps</h3>

    <b-container class="form-container ta-left">
      <b-form @submit="onSubmit">
        <b-form-group id="input-group-1" class="col-12">
          <b-form-input
            id="input-1"
            v-model="form.username"
            class="effect-26"
            :class="form.username ? 'has-content' : ''"
            type="email"
            required
            autofocus
            placeholder="Enter email address"
          ></b-form-input>
          <label>Email Address</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('username')">
            {{ form.$getError('username')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-2" class="col-12">
          <b-form-input
            id="input-2"
            v-model="form.password"
            class="effect-26"
            :class="form.password ? 'has-content' : ''"
            type="password"
            required
            placeholder="Enter password"
          ></b-form-input>
          <label>Password</label>
          <span class="focus-border"></span>
        </b-form-group>

        <!-- API Error Message -->
        <div class="form-message mb-4" v-show="form.$errorMessage">
          {{ form.$errorMessage }}
        </div>
        
        <div class="form-link-cont">
          <b-link class="form-link" to="/forgot-password">Forgot password?</b-link>
        </div>

        <div class="ta-right mt-4">
          <b-button class="form-button full-width" type="submit" variant="primary">
            <b-spinner small class="mr-3" v-if="form.$busy"></b-spinner>
            <div v-else>LOGIN</div>
          </b-button>
        </div>

        <div class="ta-center mt-4">
          Don’t have an account?
          <b-link class="form-link" to="/register">Register</b-link>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import Form from '@/utils/form'

export default {
  data () {
    return {
      form: new Form({
        username: '', // this accepts email or phone number in API; for web app, email should suffice
        password: ''
      })
    }
  },

  methods: {
    async onSubmit (evt) {
      evt.preventDefault()

      this.form.$busy = true
      await this.$api.post('auth/login', this.form.$data())
        .then(({ data }) => {
          this.form.$busy = false
          this.$store.commit('auth/setToken', data.data)
          this.$store.commit('auth/setUser', data.data.user)
          this.$router.replace({ name: 'user.profile-page' })
        })
        .catch(error => {
          this.form.$handleError(error)
        })
    }
  },

  watch: {
    'form.username' () {
      this.form.$clearError('username')
    },
    'form.password' () {
      this.form.$clearError('password')
    }
  }
}
</script>
