<template>
  <div>
    <b-container class="form-container ta-left">
      <div class="display-equal">
        <div class="ta-left">
          <router-link class="form-back" :to="{ name: 'auth.login-page' }">←</router-link>
        </div>
      </div>

      <h5 class="font-weight-bold ta-left mt-4 mb-3">Account Details</h5>

      <b-form @submit="onSubmit">
        <b-form-group id="input-group-1" class="col-12">
          <b-form-input
            id="input-1"
            v-model="form.email"
            class="effect-26"
            :class="form.email ? 'has-content' : ''"
            type="email"
            required
            autofocus
            placeholder="Enter email address"
          ></b-form-input>
          <label>Email Address</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('email')">
            {{ form.$getError('email')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-2" class="col-12">
          <b-form-input
            id="input-2"
            v-model="form.first_name"
            class="effect-26"
            :class="form.first_name ? 'has-content' : ''"
            type="text"
            placeholder="Enter first name"
          ></b-form-input>
          <label>First Name</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('first_name')">
            {{ form.$getError('first_name')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-3" class="col-12">
          <b-form-input
            id="input-3"
            v-model="form.last_name"
            class="effect-26"
            :class="form.first_name ? 'has-content' : ''"
            type="text"
            placeholder="Enter last name"
          ></b-form-input>
          <label>Last Name</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('last_name')">
            {{ form.$getError('last_name')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-4" class="col-12">
          <b-form-input
            id="input-4"
            v-model="form.phone_number"
            class="effect-26"
            :class="form.phone_number ? 'has-content' : ''"
            type="text"
            placeholder="Enter phone number"
          ></b-form-input>
          <label>Phone Number</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('phone_number')">
            {{ form.$getError('phone_number')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-5" class="col-12">
          <b-form-input
            id="input-5"
            v-model="form.password"
            class="effect-26"
            :class="form.password ? 'has-content' : ''"
            type="password"
            placeholder="Enter password"
          ></b-form-input>
          <label>Password</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('password')">
            {{ form.$getError('password')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-6" class="col-12">
          <b-form-input
            id="input-6"
            v-model="form.password_confirmation"
            class="effect-26"
            :class="form.password_confirmation ? 'has-content' : ''"
            type="password"
            placeholder="Enter password confirmation"
          ></b-form-input>
          <label>Confirm Password</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('password_confirmation')">
            {{ form.$getError('password_confirmation')[0] }}
          </div>
        </b-form-group>

        <div class="ta-right mt-4">
          <b-button class="form-button" type="submit" variant="primary">
            <b-spinner small class="mr-3" v-if="form.$busy"></b-spinner>
            <div v-else>SIGN UP</div>
          </b-button>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import Form from '@/utils/form'

export default {
  data () {
    return {
      form: new Form({
        email: '',
        phone_number: '',
        first_name: '',
        last_name: '',
        password: '',
        password_confirmation: ''
      })
    }
  },
  methods: {
    async onSubmit (evt) {
      evt.preventDefault()

      this.form.$busy = true
      await this.$api.post('auth/register', this.form.$data())
        .then(({ data }) => {
          this.form.$busy = false
          this.$store.commit('auth/setToken', data.data)
          this.$store.commit('auth/setUser', data.data.user)
          this.$router.replace({ name: 'user.profile-page' })
        })
        .catch(error => {
          this.form.$handleError(error)
        })
    }
  },

  watch: {
    'form.email' () {
      this.form.$clearError('email')
    },
    'form.first_name' () {
      this.form.$clearError('first_name')
    },
    'form.last_name' () {
      this.form.$clearError('last_name')
    },
    'form.phone_number' () {
      this.form.$clearError('phone_number')
    },
    'form.password' () {
      this.form.$clearError('password')
    }
  }
}
</script>
