<template>
  <div>
    <b-container class="form-container ta-left">
      <div class="display-equal">
        <div class="ta-left">
          <router-link class="form-back" :to="{ name: 'auth.login-page' }">←</router-link>
        </div>
      </div>

      <h5 class="font-weight-bold ta-left mt-4 mb-3">Reset Password</h5>
      <div class="mb-4">Please enter the code we have sent to your email:</div>

      <b-form @submit="onSubmit">
        <b-form-group id="input-group-1" class="col-12">
          <b-form-input
            id="input-1"
            v-model="form.email"
            class="effect-26"
            :class="form.email ? 'has-content' : ''"
            type="email"
            required
            disabled
            placeholder="Email Address"
          ></b-form-input>
          <label>Email Address</label>
        </b-form-group>

        <b-form-group id="input-group-2" class="col-12">
          <b-form-input
            id="input-2"
            v-model="form.token"
            class="effect-26"
            :class="form.token ? 'has-content' : ''"
            type="text"
            required
            autofocus
            placeholder="Enter reset code"
          ></b-form-input>
          <label>Reset Code</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('token')">
            {{ form.$getError('token')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-3" class="col-12">
          <b-form-input
            id="input-3"
            v-model="form.password"
            class="effect-26"
            :class="form.password ? 'has-content' : ''"
            type="password"
            required
            placeholder="Enter new password"
          ></b-form-input>
          <label>Password</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('password')">
            {{ form.$getError('password')[0] }}
          </div>
        </b-form-group>

        <b-form-group id="input-group-4" class="col-12">
          <b-form-input
            id="input-4"
            v-model="form.password_confirmation"
            class="effect-26"
            :class="form.password_confirmation ? 'has-content' : ''"
            type="password"
            required
            placeholder="Enter password confirmation"
          ></b-form-input>
          <label>Confirm Password</label>
          <span class="focus-border"></span>

          <div class="input-error" v-if="form.$getError('password_confirmation')">
            {{ form.$getError('password_confirmation')[0] }}
          </div>
        </b-form-group>

        <div class="ta-right mt-4">
          <b-button class="form-button" type="submit" variant="primary">
            <b-spinner small class="mr-3" v-if="form.$busy"></b-spinner>
            <div v-else>SUBMIT</div>
          </b-button>
        </div>
      </b-form>
    </b-container>
  </div>
</template>

<script>
import Form from '@/utils/form'

export default {
  data () {
    return {
      form: new Form({
        email: '',
        token: '',
        password: '',
        password_confirmation: ''
      })
    }
  },

  methods: {
    async onSubmit (evt) {
      evt.preventDefault()

      this.form.$busy = false
      await this.$api.post('auth/reset-password', this.form)
        .then(({ data }) => {
          this.form.$busy = false
          this.$router.replace({ name: 'auth.login-page' })
        })
        .catch(error => {
          this.form.$handleError(error)
        })
    }
  },

  created () {
    this.form.email = this.$route.params.email
  },

  watch: {
    'form.token' () {
      this.form.$clearError('token')
    },
    'form.password' () {
      this.form.$clearError('password')
    }
  }
}
</script>
